*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: RGB(18, 19, 22)
}
.toolboxContainer{
    height: 5rem;
    background-color: #27293f;
    display: flex;
    align-items: center;
    position:sticky;
    top: px;
}
.footer{
    margin-top: 2rem;   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem; 
}
.toolboxPriorityContainer{
    background-color: #181a1d;
    height: 3rem;
    width: 18rem;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.actionButtonContainer{
    background-color: #fadc17;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;
    width: 3rem;
}

.pink{
    background-color: pink;
}
.blue{
    background-color:lightblue
}
.green{
    background-color:lightgreen
}
.white{
    background-color:white
}

.add{
    font-size: 1.5rem; 
}
.dustbin{
    font-size: 1.5rem;
}
.add:hover, .dustbin:hover{
    color: red;
    cursor:pointer;
}

.taskEditor{
    position: absolute;
    left: 25vw;
    top: 20vh;
    height: 50vh;
    width: 50vw;
    background-color: #604fc7;
    display: flex;
    display: none;
    transition: ease-in all 2s;
    border: 0.5vh solid white;
}

.textArea{
    border: none ;
    outline: none;
    resize: none;
    font-size: 2rem;
    color: white;
    background-color: #fdd641;
    height: 100%;
    width: 75%;
    background-color: #604fc7;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
textarea::placeholder{
    color: white;
}

.colorSection{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
}

.priorityColor{
    height: 3rem;
    width: 5rem;
}

.ticketCont{
    background-color: #4c14a0;
    height: 10rem;
    width: 15rem;
    border-radius: 10px;
    font-weight: bold;;
}

.ticketColour{
    height: 1rem;
}
.ticketId{
    margin-top: 2px;
    color: #c7c8dd;
    height: 0.9rem;
    width: 100%;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 5px ;
    display: flex;
}
.active{
    border: 5px solid rgb(243, 0, 0);
}
.priorityColor:hover{
    cursor: pointer
}
.priorityColor:hover{
    border: 2px solid rgb(243, 0, 0);
}
.ticketId .dustbin{
    margin-left: 8.6rem;
    font-size: 1.1rem;
}
.ticketDiv{
    display: flex;
    justify-content: center;
}
.ticketColour{
    border-radius: 1rem;
    margin: 2px;
}
.taskArea{
    height: calc(100% - 1rem - 1.5rem) ;
    padding: 10px;
    font-size: 1.25rem;
    color: #c7c8dd;
    word-wrap: break-word; 
}

.lock-unlock{
    color: white;
    font-size: 1.2rem;
    margin-top: -1.7rem;
    margin-left: 13.2rem;
}
.lock-unlock:hover{
    cursor: pointer;
    color: red;
}
.taskArea{
    outline: none;
}
